@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

header {
  position: sticky;
  top: 0;
  grid-area: header; }
  header h1 {
    display: flex;
    align-items: flex-start;
    color: #56f616;
    font-size: 4rem;
    text-align: center;
    margin-left: 1rem;
    padding: 10px; }

.navpos {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.card-body {
  background-color: white;
  margin: 0.5rem; }

.btn-primary {
  margin: 0.5rem;
  margin-left: 55rem; }

body {
  font-family: "Lato", sans-serif;
  background-color: white;
  font-size: 1rem; }

.divEdit {
  text-align: center; }

h2 {
  display: flex;
  align-items: center;
  justify-content: center; }

.cow {
  width: 100%;
  height: auto; }

/* <li> */
li {
  list-style-type: none;
  margin: 0 0 5px 0;
  display: inline; }

p {
  margin: 10px; }

a {
  text-decoration: none;
  margin: 10px; }

.imgClass {
  margin: 2rem;
  width: 20rem;
  height: auto; }

.formStyle {
  margin-left: 5rem;
  margin-top: 2rem;
  width: 15rem;
  height: auto; }

.btn {
  margin: 1px; }

/* Etiquetas para el DIV de cada articulo en la tienda, aun no funcional, pero lo comienzo para no olvidarme, por ahora solo centra la imagen */
.imageSize {
  width: 450px;
  height: auto; }

img {
  border-radius: 4px; }

.imgSponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.liTransicion {
  display: inline-block;
  text-transform: uppercase; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f8e9e9;
  margin: 0;
  margin-top: 20%;
  padding: 20px;
  grid-area: footer; }
  footer .iconosRs {
    height: 120px;
    width: 120px;
    margin: 2px;
    animation-duration: 3s; }

.btn-primary {
  background-color: #21eb64; }

h2 {
  color: #21eb64; }
