footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: none;
    // margin: 1rem;
    padding: 15px;
    grid-area: footer;


    .iconosRs {
        height: 100px;
        width: 100px;
        margin: 2px;
        animation-duration: 3s;
    }
}
