body {
  font-family: "Lato", sans-serif;
  background-color: white;
  font-size: $tam-fuente;
}



.divEdit {
  text-align: center;
}

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 10px;
  }

  .cow {
    width: 100%;
    height: auto;
  }

/* <li> */

li {
  list-style-type: none;
  margin: 0 0 5px 0;
  display: inline;
}

p {
  margin: 10px;
}

a {
  text-decoration: none;
  margin: 10px;
}

.imgClass {
  margin: 2rem;
  width: 20rem;
  height: auto;
}

.formStyle {
  margin-left: 5rem;
  margin-top: 2rem;
  width: 15rem;
  height: auto;
}

.btn {
  margin: 1px;
}


/* Etiquetas para el DIV de cada articulo en la tienda, aun no funcional, pero lo comienzo para no olvidarme, por ahora solo centra la imagen */

.imageSize {
  width: 450px;
  height: auto;
}

img {
  border-radius: 4px;
}

.imgSponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.liTransicion {
  display: inline-block;
  text-transform: uppercase;
}
