* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: $tam-fuente;
}

.divEdit {
  text-align: center;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cow {
  width: 100%;
  height: auto;
}

/* <li> */

li {
  list-style-type: none;
  display: inline;
}

p {
  margin: 10px;
}



a {
  text-decoration: none;
}

.imgClass {
  margin: 2rem;
  width: 20rem;
  height: auto;
}

// SECCION CONTACTO

.formStyle {
  margin-left: 5rem;
  margin-top: 2rem;
  width: 15rem;
  height: auto;
}

.btn {
  margin: 1px;
}

.gMaps {
  margin: 0.25rem;
}

img {
  border-radius: 4px;
}

.imgSponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.liTransicion {
  display: inline-block;
  text-transform: uppercase;
}

// SECCION SHOP

.imageSize {
  width: 20rem;
  height: auto;
  margin-top: 0.2rem;
}

.boxShopMain {
  display: flex;
  justify-content: center;
}

.boxShop {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 33rem;
  width: auto;
  border: 0.02rem gray solid;
  margin: 0.5rem;
  border-radius: 1%;

  h2 {
    display: flex;
    align-self: flex-start;
    margin: 0.25rem 0.25rem 0.25rem 0rem;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .buttonShop {
    background-color: black;
    color: white;
    width: 60px;
    height: 30px;
    size: 2px;
    margin: 0.2rem;
    padding: 0.25rem;
    font-size: 50%;
    border-radius: 1rem;
  }
}

.pShop {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-style: italic;
}