header {
    position: sticky;
    top: 0;
    grid-area: header;

    h1 {
        color: #56f616;
        font-size: $tam-fuente + 3rem;
        text-align: center;
        margin-left: 1rem;
        padding: 10px;
      }

    .header1 {
        display: flex;
        align-content: space-between;
    }
}



nav {
    display: flex;
    justify-content: end;
  grid-area: nav;
}

.card-body {
    background-color: white;
    margin: 0.5rem;
  }

.btn-primary {
    margin: 0.5rem;
    margin-left: 55rem;
}